@tailwind base;
@tailwind components;
@tailwind utilities;

/* FONTS */
@font-face {
  font-family: 'Gopher Mono';
  src: url('/fonts/GopherMono-Regular.woff2') format('woff2'),
       url('/fonts/GopherMono-Regular.woff') format('woff'),
       url('/fonts/GopherMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gopher Mono Semi';
  src: url('/fonts/GopherMono-SemiBold.woff2') format('woff2'),
       url('/fonts/GopherMono-SemiBold.woff') format('woff'),
       url('/fonts/GopherMono-SemiBold.ttf') format('truetype');
  font-weight: 600; /* or whatever the correct weight is for 'Semi' */
  font-style: normal;
}

@font-face {
  font-family: 'Gopher Mono Bold';
  src: url('/fonts/GopherMono-Bold.woff2') format('woff2'),
       url('/fonts/GopherMono-Bold.woff') format('woff'),
       url('/fonts/GopherMono-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/**
 * Global Styles
 */
/*--------------------------------------------------------------------------------------------------------------------*/
section {
  scroll-snap-align: start;
}
html {scroll-behavior: smooth;}

/**
* Colours and Styles
*/
/*--------------------------------------------------------------------------------------------------------------------*/
.background-light {background-color: #f5faf9;}
.color-blue {color: #acddfb;}
.color-dark-blue {color: #334862;}
.color-dark {color: #3f423e;}
.color-green {color: #5f9251;}
.color-pink {color: #c15564;}
.bold {font-weight: bold;}
.underline {text-decoration: underline;}

/**
* Keyframes
*/
/*--------------------------------------------------------------------------------------------------------------------*/
/* Flashing text while song is playing */
@keyframes flashAnimation {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}
.flashing-text {animation: flashAnimation 1s linear infinite;}

/**
* Media Queries
*/
/*--------------------------------------------------------------------------------------------------------------------*/
@media only screen and (max-height: 760px) {
  #homepage-hello-text,
  #homepage-im-ben-text,
  #piano-img {
    display: none;
  }

  .image-max-width-xs-to-sm {
    max-width: 24rem; /* equivalent to Tailwind's max-w-sm */
  }
}

/**
* :Hover and Text decoration
*/
/*--------------------------------------------------------------------------------------------------------------------*/
#benspoonerNav:hover, #aboutNav:hover, #bookNav:hover, #gameNav:hover, #tutorNav:hover, #contactNav:hover, #play-footer:hover, .youtube:hover {
  color: #e39ba6;
  text-decoration: underline;
  text-decoration-color: #c15564;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.text-decoration-color {text-decoration-color: #c15564;}